@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  list-style-type: none;
  text-decoration: none;
}

.section-title {
  text-align: center;
  margin: 50px 0px 43px 0px;
}
.section-title h1 {
  font-weight: 400;
}
.section-title p {
  margin-top: 20px;
  margin-bottom: 40px;
}
.section-title p span {
  background-color: black;
  color: white;
  padding: 5px;
}

body {
  font-weight: 400;
  background-color: #f1f1f1;
}

section {
  display: flex;
  gap: 3rem;
  justify-content: space-between;
}
section .col7 {
  width: 70%;
}
section .col7 .box1 {
  font-weight: 400;
  background-color: white;
  box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.5058823529);
  margin-left: 30px;
  padding-bottom: 20px;
  margin-bottom: 35px;
}
section .col7 .box1 .text {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  padding-left: 20px;
}
section .col7 .box1 .text .butonbox {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
section .col7 .box1 .text .butonbox p {
  padding-right: 20px;
}
section .col7 .box1 .text .butonbox p span {
  background-color: #000;
  color: white;
  padding: 5px;
}
section .col7 .box1 .text .butonbox button {
  background-color: transparent;
  border: 1px solid #d2d1d1;
  padding: 20px 30px;
}
section .col7 .box1 .text .butonbox button:hover {
  background-color: #d2d1d1;
}
section .col7 .box1 .text .butonbox p {
  padding-left: 20px;
}
section .col7 .box1 .text h1 {
  margin-top: 18px;
}
section .col7 .box1 img {
  width: 100%;
}
section .col3 {
  width: 30%;
  margin-right: 20px;
}
section .col3 .blog {
  background-color: white;
  box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.5058823529);
}
section .col3 .blog .text2 {
  padding: 5px 10px;
}
section .col3 .blog img {
  width: 100%;
}
section .col3 .blog .text2 {
  padding: 5px 0px 10px 10px;
}
section .col3 .posts {
  margin-top: 20px;
  box-shadow: rgba(0, 0, 0, 0.5058823529) inset;
  background-color: #fff;
}
section .col3 .posts h1 {
  font-weight: 400;
  background-color: whitesmoke;
  padding: 20px;
}
section .col3 .posts li {
  border-bottom: 1px solid #d2d1d1;
  display: flex;
  align-items: center;
  padding: 15px;
}
section .col3 .posts li div {
  margin-left: 20px;
}
section .col3 .posts li div p {
  margin-top: 8px;
}
section .col3 .posts li:hover {
  background-color: #d2d1d1;
}
section .col3 .posts img {
  width: 50px;
}
section .col3 .tags {
  box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.5058823529);
  margin-top: 30px;
  background-color: #fff;
}
section .col3 .tags h1 {
  background-color: #d2d1d1;
  padding: 20px;
  font-weight: 400;
}
section .col3 .tags div {
  padding: 10px;
  display: grid;
  gap: 1rem;
  grid-template-columns: auto auto auto auto auto auto auto;
}
section .col3 .tags div p {
  background-color: #000;
  color: white;
  padding: 2px;
}
section .col3 .tags div span {
  background-color: #d2d1d1;
}
@media screen and (max-width: 1024px) {
  section {
    flex-direction: column;
    width: 100%;
    gap: 0.8rem;
  }
  section .col7 {
    width: 97%;
  }
  section .col3 {
    margin-left: 20px;
    width: 93%;
  }
  section .col3 .posts #not {
    display: none;
  }
  section .tags {
    gap: 0.5rem;
  }
  section .tags span {
    padding: 5px 1 0px;
  }
}

footer {
  padding: 40px;
  background: rgba(1, 1, 1, 0.5058823529);
  color: white;
}
footer p {
  margin-top: 40px;
}
footer p a {
  color: #fff;
}
footer .nb {
  background-color: #000;
  color: #fff;
  padding: 15px 20px;
  border: none;
}
footer .nb:hover {
  background-color: rgb(206, 203, 203);
}
footer .na {
  padding: 15px 30px;
  background-color: #333;
  color: #989494;
  border: none;
}
footer .na:hover {
  background-color: rgb(96, 95, 95);
  cursor: not-allowed;
}
@media screen and (max-width: 1024px) {
  footer {
    margin-top: 40px;
  }
}/*# sourceMappingURL=style.css.map */